* {
  font-family: 'Roboto', sans-serif;
  outline: none;
  text-decoration: none;

}
a{
  color: #003274;
}

:root {
  --shadow: 1px 2px 5px 0px #958585;
  --main-color: rgb(57, 156, 255);
  --white-color: white;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--white-color);
  opacity: 0.5; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: var(--white-color);
  opacity: 0.5; 
}

::-ms-input-placeholder { /* Microsoft Edge */
  color:  var(--white-color);
  opacity: 0.5; 
}
body {
  background: var(--white-color);
  margin: 0;
  width: 100%;
  height: 100%;
  margin: 0px;
  overflow-x: hidden;
}

header {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

main {
  width: 100%;
  min-height: 100vh;
  max-height: none;
  overflow-x: hidden;

}

footer {
  margin: 50px 0 0 0;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: flex;
  width: 100%;
  height: 55px;
  overflow: hidden;
}

input {
  caret-color: var(--white-color);

}
input:visited {
   background: var(--main-color);
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    background: var(--main-color);
}

.nav {
  transition: 0.4s ease-in-out;
  width: 100%;
  height: 35px;
  background: var(--main-color);
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.nav a {
  color: black;
}

.nav-ul {
  display: flex;

  align-items: center;
}

.nav-ul li {
  display: inline-flex;
  border: 1px solid var(--main-color);
  border-left: none;
  border-right: none;
  align-items: center;
  transition: 0.4s ease-in-out;
  padding: 3px 10px 3px 10px;
  margin-left:15px;
}

.nav-ul li:hover {
  border-top: 2px solid var(--white-color);
  border-bottom: 2px solid var(--white-color);
  border-left: none;
  border-right: none;
  transition: 80ms ease-in-out;

}

.nav-ul li:active {
  color: var(--white-color);
}

/*.nav-ul span {
  color: var(--white-color);

}
*/
.cart-header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  width: 91px;
  height: 19px;

}

.mini-cart {
  font-size: 13px;
  /*margin: 0 0 0 3px;*/
  /*float: left;*/
  display: flex;
  width: 21px;
  height: 21px;
  border-radius: 50px;
  background: pink;
  text-align: center;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin: 0  0 25px 30px;

}

.header-popup {
  width: 100%;
  position: fixed;
  top: 0px;
  height: 60px;
  background: var(--white-color);
  align-items: center;
  display: flex;

 
}
.hidden-opacity{
  transition: 0.2s ease-in-out;
  opacity: 1;
  transform: translateY(-60px);

}
.show-opacity{
  transition: 0.3s ease-in-out;
  opacity: 1;
  
}

.hidden {
  display: none;
   transition: 0.3s ease-in-out;
}

.show {
  display: flex;
}

.header-popup-img-div {
  width: 166px;
  float: left;
  display: flex;
  transition: 0.2s ease-in-out;
  height: 35px;
}

.main-img-div {
  height: 42px;
  float: left;
  width: 166px;
  margin: 10px 0 0 0;
}

.main-img {
  height: 100%;
}
.search-div {
  width: 45%;
  height: 38px;
  background: var(--main-color);
  float: left;
  margin: 8px 8px 8px 8px;
  display: flex;
  align-items: center;
  transition: 0.4s ease-in-out;
  border-radius: 5px;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
}
.search-div form{
  width: 100%;
}

.search-input {
  -webkit-appearance: none;
  transition: 0.4s ease-in-out;
  width:calc(100% - 39px);
  height: 100%;
  border: none;
  font-size: 24px;
  background: var(--main-color);
  border-radius: 10px;
}

.search-img {
  width: 100%;
}

.search-button {
  height: 34px;
  width: 34px;
  margin-top: 2px;
  background: none;
  border: none;
  cursor: pointer;
}

.phone-img {
  width: 25px;
  height: 25px;
  margin: 2px;
}
.phone-div{
  display: initial;
  margin: 0 8px 0 0;
  float: left;
  width: 145px;
  position: initial;

}
.phone-div:hover .phone-popup{
  display: flex;

}
.phone-div:hover .phone-hover{
  border-radius: 5px 5px 0 0;
   transition: 0.1s ease-in-out;
}

.phone{
  height: 38px;
  width: 100%;
  background: var(--main-color);
  display: flex;
  justify-content: center;
  align-items: center;
   transition: 0.2s ease-in-out;
   border-radius: 5px;
 
}
.phone-hover:hover{
  border-radius: 5px 5px 0 0;
   transition: 0.1s ease-in-out;
}

.phone-popup{
  border-top: 1px solid black;
  background: var(--main-color);
  display: none;
  position: absolute;
  width: 145px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border-radius:0 0 5px 5px;
  padding: 0 0 5px 0;
  box-shadow: var(--shadow);

}
.cart-div{
  display: flex;
  width: 50px;
  height: 38px;
  background: var(--main-color);
  border-radius: 5px;
  margin: 0 5px 0 0;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.cart-div img{
  height: 23px;
}


.sort-div {
  margin: 5px;
  display: flex;
  padding: 0 10px 0 10px;
  justify-content: start;
}

.sort-input {
   border: 2px solid var(--main-color);
  margin: 0 0 0 5px;
  height: 30px;
  font-size: 15px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  border-radius: 5px;
  padding: 2px;

}

.container {
  width: 1200px;
  margin: 0 auto;
  background: var(--white-color);
  overflow: hidden;
  padding: 0;
}

.menu {
  display: none;
}

.overlay {
  height: 200vh;
  width: 100%;
  position: fixed;
  z-index: 1;
  transform: translateX(-100%);
  top: 0;
  display: flex;
  align-items: flex-start;
  overflow: hidden;
  transition: all 0.5s ease 0s;
}

.overlay__content {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 250px;
  background-color: var(--main-color);
  box-shadow: var(--shadow);
}

.overlay a {
  padding: 15px;
  font-size: 20px;
  display: block;
}

.overlay .close {
  position: absolute;
  right: 0px;
  height: 100%;
  width: calc(100% - 250px);
  font-size: 60px;
  transition: 1s ease-in-out;
}

.name-page-div {
  margin-top: 15px;
  padding: 4px;
  width: 100%;
  border-bottom: 3px solid var(--main-color);
}
.name-page-div span{
  font-size: 18pt;
}

.category-div {
  margin: 10px;
  float: left;
  width: 160px;
  height: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--white-color);
  transition: 0.2s ease-in-out;
}

.category-div:hover {
  border: 2px solid var(--main-color);
  border-radius: 10px;
  transition: 0.2s ease-in-out;
}

.category-div img {
  width: 100px;
  height: 100px;
  margin: 5px;
}

.category-div span {
  text-align: center;
  justify-content: center;
  align-self: center;
  font-size: 16px;
  margin: 15px;
}

.category-margin {
  height: 5px;
  width: 5px;
  float: top;
}

.tovar-div {
  margin: 8px 0 0 0;
  float: top;
  width: 99%;
  height: 135px;
  display: flex;
  justify-content: space-between;
  border: 2px solid var(--white-color);
  transition: 0.2s ease-in-out;
  align-self: center;
  align-items: stretch;
  padding: 2px;

}

.tovar-div:hover {
  border: 2px solid var(--main-color);
  border-radius: 10px;
  transition: 0.2s ease-in-out;
}

.tovar-name {
  font-size: 13pt;
}

.tovar-img-div {
  float: left;
  width: 122px;
  height: 122px;
}

.tovar-img {
  width: 100%;
}

.tovar-button-price {
  display: flex;
  flex-direction: column;
  align-items: center;

}
.tovar-buy-button {
  width: 100px;
  height: 29px;
}

.button{
  background: none;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  border: 2px solid var(--main-color);
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  display: flex;
  user-select: none;
  font-size: 14px;
}


.button:hover {
  transition: 0.1s ease-in-out;
  background: var(--main-color);
}

.button:hover span{
  color: white;
  font-weight:bold ;
}

.tovar-price {
  font-size: 17pt;
}

.tovar-select {
  background: none;
  border: 2px solid var(--main-color);
  height: 29px;
  font-size: 21px;
  transition: 0.3s ease-in-out;
  border-radius: 5px;
}

.tovar-input {
  text-align: center;
  background: var(--main-color);
  width: 47px;
  border: none;
  height: 29px;
  padding: 0;
  font-size: 22px;
  border-radius: 5px;
}

.burger {
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
}

.red {
  color: red;
  text-align: center;
  font-size: 15px;
}

.green {
  color: green;
  text-align: center;
  font-size: 15px;
}
.blue{
 color: var(--main-color);
 background-color: var(--main-color);
}
.white{
  color: var(--white-color);

}
.white-bg{
  background-color: var(--white-color);
}

.buttons-footer {
  height: 20px;
  margin: 5px 5px;
  width: 100%;
  display: flex;
  justify-content: center;

}

.button-footer {
  float: left;
  margin-left: 10px;
}


.page-tovar-img {
  height: 100%;
}

.page-tovar-img-div {
  width: 500px;
  height: 500px;
  align-items: center;
  justify-content: center;
  display: flex;
  float: left;
}

.page-tovar-button-price-div {
  padding: 10px;
  width: 500px;
  height: 500px;
  align-items: flex-start;
  display: flex;
  float: left;
  justify-content: center;
}

.page-tovar-price {
  float: left;
  display: flex;
  font-size: 30px;
}

.page-tovar-buy-button-div {
  width: 170px;
  height: 45px;
  margin-right: 5px;
  display: flex;
  float: left;
}

.page-tovar-buy-button {
  width: 100%;
  height: 100%;
  background: none;
  border-left: 2px solid var(--main-color);
  border-top: 2px solid var(--main-color);
  border-bottom: 2px solid var(--main-color);
  border-right: none;
  transition: 0.4s ease-in-out;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px 0 0 5px;
}

.page-tovar-buy-button:hover {
  background: var(--main-color);
  transition: 0.2s ease-in-out;
}


.page-tovar-select {
  transition: 0.2s ease-in-out;
  height: 45px;
  font-size: 18px;
  border: 2px solid var(--main-color);
  cursor: pointer;
  border-radius: 0 5px 5px 0;

}

.page-tovar-select:hover {
  transition: 0.2s ease-in-out;
  background: var(--main-color);
}

.page-tovar-input {
  width: 39px;
  font-size: 23px;
  border: 3px solid var(--main-color);
  align-items: center;
  border-radius: 0  5px 5px 0 ;
}

.page-tovar-price-div {
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-items: center;

}

.page-tovar-description-div {
  width: 100%;
  height: none;
  border-top: 3px solid var(--main-color);
  float: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.page-tovar-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
}

.page-tovar-tovars {
  width: 60%;
  height: 200px;
  background: var(--white-color);
  float: left;
  display: flex;
}

.registration-div {
  display: flex;
  width: 100%;
  padding: 15px 0 0 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.registration-input {
  margin: 5px 0 0 0;
  width: 240px;
  height: 34px;
  background: var(--main-color);
  border: none;
  transition: 0.2s ease-in-out;
  border-radius: 5px;
}


.cart-input {
  height: 27px;
  width: 90px;
}

.cart-delete {
  height: 27px;
  width: 27px;
}

.cart-comment {
  border: 2px solid var(--main-color);
  resize: none;
  width: 244px;
  height: 70px;

}

.payment-radio-div {
  margin: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-self: center;
  align-items: center;
  border: 2px solid var(--main-color);
  transition: 0.2s ease-in-out;
  width: 400px;
  border-radius: 5px;
  cursor: pointer;
}
.payment-radio-div:hover {
  transition: 0.2s ease-in-out;
  background: dodgerblue;
}
.payment-radio-div img{
   width: 50px
}

.contacts-div{
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: center;
}
.bottom-border{
  border-bottom:2px solid dodgerblue;
}
.order-div{
  width: 465px;
}
.order-table{
  display: flex;
  cursor: pointer;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  
}
.order-table span{
  margin: 3px;
  flex-wrap: wrap;
}
.order{
width: 100%;
}
.order table{
  display: flex;
  justify-content: center; 
  flex-direction: row;
  align-items: center;
 
}
.order td{
  width: 100px;
  text-align: center;
}
.order span{
  font-size: 12px;
}



@media only screen and (max-width: 1200px) {
  .container {
    width: 900px;
    margin: 0 auto;
  }

  .page-tovar-img-div {
    width: 500px;
    height: 500px;
    display: flex;
    float: left;
  }

}

@media only screen and (max-width: 1023px) {
  .container {
    width: 850px;
  }

  .nav-ul li {
    margin-left: 5px;
  }

  .page-tovar-img-div {
    width: 100%;
    height: 500px;
    display: flex;
    float: left;
  }
    .toggle-hidden-nav{
    display: none;
  }

}
@media only screen and (max-width: 850px) {
  .container {
    width: 772px;
  }
}

@media only screen and (max-width: 767px) {
  .container {
    width: 100%;
    margin: 0 auto;
    padding: 0;
  }

  .nav-ul li {
    margin-left: 5px;
    padding: 3px 8px 3px 8px;
  }


  .page-tovar-description {
    width: 70%;
  }
  .toggle-nav{
  display: none;
}

}

@media only screen and (max-width: 650px) {
  .order-div{
  width: 405px;
}
 .header-popup-img-div{
    width: 100px;
  
  }

  .nav-ul {
    display: none;
  }
   .burger-menu {
    display: initial;
    padding-left: 10px;
    width: 20px;
    height: 3px;
    margin: 2px 0;

}

  .menu {
    display: flex;
    justify-content: center;
    width: 35px;
    flex-direction: column;
    margin: 0 0 0 5px;
    height: 100%;

  }

  .phone-div {
    display: none;
  }

  .page-tovar-description {
    width: 85%;
  }
  
}

@media only screen and (max-width: 500px) {
  .page-tovar-description {
    width: 90%;
  }

  .page-tovar-button-price-div {
    width: 98%;
    height: 200px;
    display: flex;
    float: left;
    flex-direction: column;

  }

  .page-tovar-price {
    float: left;
    display: flex;
    font-size: 20px;
  }

  .page-tovar-img-div {
    width: 100%;
    height: 300px;
    display: flex;
    float: left;
  }

  .tovar-div {
    height: 155px;
    flex-direction: column;
    align-items: flex-start;

  }

  .tovar-button-price {
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .tovar-name {
    font-size: 11pt;
  }

  .main-img-div {
    height: 35px;
    width: 95px;
  }
  .header-popup-img-div{
    width: 100px;
   height: 35px;
  }

.order-div{
  width: 300px;
}
}

